header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(133, 133, 133);
}

header nav p {
  margin: 10px 0 0 0;
  font-size: 1.1rem;
  opacity: 0.9;
}